/* line 24, stdin */
#wpcontent {
  background-color: white;
}

/* line 27, stdin */
.hur_management {
  font-size: 16px;
}

/* line 30, stdin */
.hur_management p {
  font-size: 16px;
  line-height: 24px;
}

/* line 34, stdin */
.hur_management form {
  width: 100%;
}

@media screen and (min-width: 782px) {
  /* line 34, stdin */
  .hur_management form {
    width: 400px;
  }
}

/* line 40, stdin */
.hur_form-group {
  margin-bottom: 10px;
}

/* line 43, stdin */
.hur_form-group label {
  display: block;
}

/* line 46, stdin */
.hur_form-group input, .hur_form-group select, .hur_form-group textarea {
  margin-top: 5px;
  width: 100%;
}

/* line 50, stdin */
.hur_form-error {
  font-size: 14px;
  line-height: 18px;
  color: crimson;
}

